.containerSmallCard {
    width: 700px;
    margin-bottom: 15px;
}

.containerSmallCardContent{
    display: flex;
    flex-direction: row;
}

.smallCardPhoto img{
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
    height: 130px;
}

.smallCardTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerSmallCardSeparator{
    margin-top: 10px;
}